asgiref==3.8.1
black==25.1.0
certifi==2025.4.26
charset-normalizer==3.4.1
click==8.1.8
coreapi==2.3.3
coreschema==0.0.4
Django==4.2
django-filter==23.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.10
idna==3.10
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
Pillow==10.0.0
platformdirs==4.3.7
psycopg2-binary==2.9.6
PyJWT==2.10.1
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.12
setuptools==80.0.0
sqlparse==0.5.3
uritemplate==4.1.1
urllib3==2.4.0

